@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* shared styles */
.primary-font-color {
    color: #3A3A3A;
}
body{
    margin: 0;
}

main {
    max-width: calc(100% - 500px);
    margin: 0 auto;
}
.header{
    max-width: calc(100% - 500px);
    margin: 0 auto;
}

section {
    margin-top: 100px;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul a {
    text-decoration: none;
    font-weight: 600;
    margin-right: 34px;
}

.banner-container {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.banner-text-contents {
    width: 780px;
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.banner-description {
    font-weight: 600;
}

.banner-btn {
    color: white;
    font-weight: bold;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}

.banner-img-content {
    position: relative;
    width: 475px;
    height: 475px;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.main-camera-img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    z-index: 2;
}


/* partner section style */
.partners {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 45px;
    padding-left: 120px;
    align-items: center;
}

/* Popular Collection Styles */

.popular-collection{
    max-width: 1150px;
    margin: 0 auto;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* padding: 0 300px; */
}

.popular-collection-title {
    font-size: 1.80rem;
    font-weight: 600;
    text-align: center;
}

.product-cards {
    width: 300px;
    border-radius: 5px;
    padding: 17px 15px;
    /* border: 1px solid skyblue; */
    box-shadow: 0 0px 40px 0 rgba(0, 0, 0, 0.15);
}

.product-title {
    color: #18191F;
    font-weight: 500;
    font-size: 1.75rem;
    margin-top: 12px;
    margin-bottom: 0;
}

.product-price {
    color: #000000;
    font-size: 1.50rem;
    margin-top: 6px;
    margin-bottom: 10px;
}

.product-review {
    color: #FB8200;
    margin: 0;
}

.product-description {
    color: #787885;
    font-size: 0.80rem;
    font-weight: bold;
}

.see-more-btn {
    margin-top: 50px;
    text-align: right;
    padding: 0 40px;
}

.see-more-btn a {
    color: #E02C6D;
    font-weight: bold;
    text-decoration: none;
}

/* feature section styles */
.featured-product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.featured-product-content {
    width: 600px;
}

.featured-product-title {
    font-weight: bold;
    font-size: 2rem;
    color: #0A0826;
    margin-bottom: 16px;
}

.featured-product-description {
    color: #6C6C6C;
    font-weight: 600;
}

.featured-product-btn {
    padding: 10px 15px;
    background-color: #E02C6D;
    color: white;
    border: none;
}

.footer{
    height: 240px;
    width: 100%;
    background-color: #0A0826;
    margin-top: 100px;
    color: white;
    text-align: center;
}
.footer-content{
    padding-top: 50px;
}
.footer-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.Copyright{
    color: rgba(217, 219, 225, 1);
    font-weight:500;
    margin: 10px;
    margin-bottom: 20px;
}
.footer-content a{
    color: white;
    margin: 5px;
}
/* responsive for small device (Mobile) */
@media screen and (max-width: 576px) {
    body {
        max-width: 100%;
    }

    main,
    .header {
    max-width: 100%;
    margin: 0 auto;
}

    nav,
    .banner-container,
    .featured-product {
        flex-direction: column;
    }

    .nav-title {
        text-align: center;
    }

    nav ul {
        max-width: calc(100% - 20px);
        align-items: center;
        padding-left: 20px;
        margin: 0;
    }

    nav ul li a {
        margin-right: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text-contents {
        max-width: calc(100% - 20px);
        text-align: center;
        margin-top: 0;
        padding: 0 10px 0 10px;
    }

    .banner-title {
        margin: 0;
        font-size: 2rem;
    }

    .banner-img-content {
        max-width: calc(100% - 50px);
        padding-left: 20px;
        padding-right: 20px;
    }

    .partners {
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
        text-align: center;
        border: none;
        margin: 50px 10px 0 10px;
    }

    .partners-logo {
        margin-bottom: 10px;
    }

    /* popular collection */
    .popular-collection{
        max-width: 100%;
        margin: 0 auto;
    }
    .product-container {
    grid-template-columns: repeat(1, 1fr);
    }
    .product-cards{
        margin-left: 50px;
    }
    .see-more-btn{
        padding: 0;
        max-width: 300px;
        margin-left: 70px;
        margin-top: 20px;
    }
    .featured-product{
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .featured-product-content{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}